<h1>Solar Calculator</h1>

<%= form_tag('/results') do %>
	<div>Total watts (W):<%= text_field_tag 'watts' %></div>
	<div>Run Time:<%= text_field_tag 'run_time' %></div>
	<div>Modifier Efficiency:<%= text_field_tag 'mod_eff' %></div>
	<div>Sun Hours:<%= text_field_tag 'sun_hours' %></div>
	<%= submit_tag 'Calculate' %>
<% end %>
