<div>
	<%= form_tag('/results') do %>
		<label>Total Watts (Watts): </label>
			<br><%= text_field_tag 'watts'%></br>
		<label>Run Time (Hours):</label>
			<br><%= text_field_tag 'run_time' %></br>
		<label>Modifier Efficiency: </label>
			<br><%= text_field_tag 'mod_eff' %></br>
		<label>Sun Hours (Hours): </label>
			<br><%= text_field_tag 'sun_hours' %></br>

		<%= submit_tag 'Calculate' %>
	<% end %>
</div>
