<h1>Add New Modifier</h1>

<%= form_for([:admin, @modifier]) do |f| %>

  <%= f.label :mod_type, "Modifier Type" %>
  <%= f.text_field :mod_type %>

  <%= f.label :amperage, "Amperage" %>
  <%= f.text_field :amperage %>

  <%= f.label :image %>
  <%= f.text_field :image %>

  <%= f.submit "Add Modifier" %>
<% end %>