<h1>Batetry</h1>

<%= image_tag(@batt.image) %>
<p>
	<strong>Battery Type: </strong>
	<%= @batt.batt_type %>
</p>

<p>
	<b>Voltage:</b>
	<%= @batt.batt_voltage %>
</p>

<p>
	<b>Amp Hours:</b>
	<%= @batt.batt_ah %>
</p>
<%= link_to "Back", batteries_path %>