<h1>Batteries</h1>

<table>
  <thead>
    <tr>
      <th>Battery Type</th>
      <th>Voltage</th>
      <th>Amp-Hours</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @batts.each do |batt| %>
      <tr>
        <td><%= image_tag(batt.image) %></td>
    	<td><%= batt.batt_type%></td>
        <td><%= batt.batt_voltage %></td>
        <td><%= batt.batt_ah %></td>
        <td><%= link_to 'Show', admin_batts_path %></td>
        <td><%= link_to 'Destroy', admin_batts_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Battery', new_admin_batt_path %>