<h1>Add New Battery</h1>

<%= form_for @battery do |f| %>
  <%= f.label :battery_typer, 'Battery Type' %>
  <%= f.text_field :battery_typer %>

  <%= f.label :battery_typer, 'Battery Type' %>
  <%= f.text_field :battery_typer %>

<% end %>