<h1>Add Solar Panel</h1>

<%= form_for(@solar_panel) do |f| %>
  <div class="feild">
    <%= f.label :cell_type, "Cell Type" %>
  	<%= f.text_field :cell_type %>
  </div>

  <div class="feild">
    <%= f.label :wattage %>
    <%= f.text_field :wattage %>
  </div>

  <div class="feild">
    <%= f.label :voltage %>
    <%= f.text_field :voltage %>
  </div>

  <div class="feild">
    <%= f.label :image, "Image:" %>
    <%= f.text_field :image %>
  </div>

  <%= f.submit "Add Solar Panel" %>
<% end %> 
