<!DOCTYPE html>
<html>
  <head>
    <meta charset ="utf-8">
    <title>SolarApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1><%= link_to 'Solar Power', root_path %></h1>
      <h2>Solar Panel Sizing Calculator</h2>
    </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  <%= yield %>
  </body>
</html>
